.container {
    position: relative;
    /* width: 600px; */
    top: 20%;
    left: 10%;
    width: 50%;
  
}
#carousel {
      /* height: 190px; */
    /* width: 600px; */
    /*   border: 1px solid #ccc; */
    /* width: 10px; */
    position: relative;
   /* left: 10%; */
}
.pics {
    /* border: 5px solid #808080; */
    box-sizing: border-box;
    /* background-color: #fff; */
}
.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6 {
    display: block;
    position: absolute;
    width: 238px;
    height: 350px;
    top: 32.5px;
    left: 200px;
    transition: all 0.6s 0s ease-out;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /*圖片 外邊陰影*/
}
.pic1 {
    transform: translate(0, 40px);
    z-index: 4;
    /* background: #ccc; */
}
.pic2 {
    transform: translate(70%, -5px);
    z-index: 3;
    /* background: #333; */
}
.pic3 {
    transform: translate(140px, -55px) scale(0.9);
    z-index: 2;
    opacity: 0.9;
    /* background: #ff0000; */
}
.pic4 {
    transform: translate(0px, -90px) scale(0.9);
    z-index: 1;
    opacity: 0.9;
    /* background: #f1f1f1; */
}
.pic5 {
    transform: translate(-140px, -55px) scale(0.9);
    z-index: 2;
    /* background: #dd5456; */
}
.pic6 {
    transform: translate(-70%, -5px);
    z-index: 3;
    /* background: #000; */
}
/* 自己額外應加的 Hover 效果 */
.pic1:hover {
    transform: translate(0, 40px) scale(1.1);
}
.pic2:hover {
    transform: translate(70%, -5px) scale(1.1);
}
.pic3:hover {
    transform: translate(140px, -55px) scale(1.1);
}
.pic4:hover {
    transform: translate(0px, -90px) scale(1.1);
}
.pic5:hover {
    transform: translate(-140px, -55px) scale(1.1);
}
.pic6:hover {
    transform: translate(-70%, -5px) scale(1.1);
}
/* 螢幕縮小後 變化 */


@media  (max-width: 549px) {

    .container{
        top: 25%;
        margin: 0 auto;
       
    }

    .section_2_box{
        width: 100%;
    }
    .pics{
       left: 0%;
       width: calc(238px * 0.6);
       height: calc(350px * 0.6);
    }
    .section_2_content_box_left{
        display: none;
    }
    .section_2_content_box_right{
        width: 90%;
        margin: 0 auto;
    }
    .pic1 {
        transform: translate(0, 20px);
        z-index: 4;
        /* background: #ccc; */
    }
    .pic2 {
        transform: translate(75%, 0);
        z-index: 3;
        /* background: #333; */
    }
    .pic3 {
        transform: translate(70px, -45px) scale(0.9);
        z-index: 2;
        opacity: 0.9;
        /* background: #ff0000; */
    }
    .pic4 {
        transform: translate(0px, -70px) scale(0.9);
        z-index: 1;
        opacity: 0.9;
        /* background: #f1f1f1; */
    }
    .pic5 {
        transform: translate(-70px, -45px) scale(0.9);
        z-index: 2;
        /* background: #dd5456; */
    }
    .pic6 {
        transform: translate(-75%, 0);
        z-index: 3;
        /* background: #000; */
    }
}


@media  (max-width: 699px) and (min-width: 550px){

    .container{
        top: 25%;
        margin: 0 auto;
       
    }
    .section_2_box{
        width: 100%;
    }
    .pics{
       left: 0%;
       width: calc(238px * 0.7);
       height: calc(350px * 0.7);
    }
    .section_2_content_box_left{
        display: none;
    }
    .section_2_content_box_right{
        width: 90%;
        margin: 0 auto;
    }
}



@media  (max-width: 1049px) and (min-width: 700px){

    .pics{
        left: 10%;
        width: calc(238px * 0.7);
        height: calc(350px * 0.7);
    }
    .section_2_box{
        width: 100%;
    }
    .container{
        top: 30%;
        margin: 0 auto;
    }
    .section_2_content_box_left{
        display: none;
    }
    .section_2_content_box_right{
        width: 90%;
        margin: 0 auto;
    }
  }



@media  (max-width: 1150px) and (min-width: 1050px) {

    .container{
        top: 30%;
        left: 10%;
    }
    .section_2_box{
        width: 100%;
    }
    .pics{
        
        width: calc(238px * 0.7);
        height: calc(350px * 0.7);
    }
  
  }


@media  (max-width: 1200px) and (min-width: 1150px){

    .container{
        top: 30%;
        left: 10%;
    }

    .section_2_box{
        width: 100%;
    }
    .pics{
        width: calc(238px * 0.7);
        height: calc(350px * 0.7);}
  
  }
